**/unnested.json

# Large tables
aws-roda-hcls-datalake-opentargets_latest-targetessentiality
aws-roda-hcls-datalake-gtex_8-rsemv1_3_0_transcript_expected_count
aws-roda-ml-datalake-yt8m_ods-video
aws-roda-hcls-datalake-gnomad-sites
aws-roda-hcls-datalake-opentargets_latest-baselineexpression
aws-roda-hcls-datalake-opentargets_latest-targets
aws-roda-hcls-datalake-opentargets_latest-searchtarget
aws-roda-hcls-datalake-opentargets_latest-searchdisease
aws-roda-hcls-datalake-opentargets_latest-expressionspecificity
aws-roda-hcls-datalake-opentargets_latest-epmccooccurrences
aws-public-blockchain-btc-transactions
